---
layout: default
title: Knife Talk
description: The podcast for knife nerds hosted by Craig (Chop Knives), Geoff (Feder Knives), and Mareko Maumasi (Maumasi Fire Arts)
---

<div class="home" id="home">
  <h1 class="pageTitle">Recent Episodes</h1>
   <h3><a class="post-link notice" href="https://www.gofundme.com/f/knifetalk-podcast-a-bright-future">Knife Talk needs your help!</a></h3>
  <p class="notice">We are raising funds to take Knife Talk to the next level, please take a minute to view our <a href="https://www.gofundme.com/f/knifetalk-podcast-a-bright-future">GoFundMe campaign</a> to see what our plans are for the future. </p>
  <ul>
  <ul class="posts noList">
    {% for post in paginator.posts %}
      <li>
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>

        <p>{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt | strip_html }}{% endif %} <br>
        <div class="sponsors_index">Episode kindly sponsored by: {{ post.sponsors }}</div></p>

      </li>
    {% endfor %}
  </ul>
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Newer Posts</a> 
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Older Posts</a>
    {% endif %}
  </div>
</div>
