<section class="section--subscribe">
  <div class="container container--content">
    <h3 class="u-alignCenter">Thanks to our lovely sponsors and Patreon supporters ❤️</h3>
    <p>
      Scheduling, recording and editing of this show takes a lot of time and effort, without the support of the show sponsors, this podcast simply wouldn't be feasible. Please show some love to our sponsors and take a look at their fantastic products.  
    </p>
    <p>
       If you would like to support the show and maybe get a funky Knife Talk sticker or t-shirt you can do so by becoming a supporter, fan or superfan on <a href="https://www.patreon.com/knifetalk">Patreon</a>. As a Patreon supporter you will be helping to develop the show as all funds are put back into making this show better. 
    </p>

 <div class="sponsors">

 	<div class="sponsorlist">
    
		<div class="col-xs-4"><img src="/assets/images/evenheat.png" width="90%"  alt="Evenheat kilns"> <br> <a href="https://www.evenheat-kiln.com">Eventheat Kilns</a>
		</div>
	
		<div class="col-xs-4"><img src="/assets/images/tormek.png" width="90%"  alt="tormek"> <br> <a href="https://www.tormek.com">Tormek </a>
		</div>
	
		<div class="col-xs-4"><img src="/assets/images/combatabrasives.png" width="90%"  alt="Combat abrasives"><a href="https://www.combatabrasives.com">Combat Abrasives</a> 
		</div>

	</div>
    
 </div>
  
    <hr/>
  </div>
</section>




