<section class="section--subscribe">
  <div class="container container--content">
    <h3 class="u-alignCenter">Thanks to our lovely sponsors ❤️</h3>
    <p>
      Scheduling, recording and editing of this show takes a lot of time and effort, without the support of the show sponsors this podcast simply wouldn't be feasible. Please show some love to our sponsors and take a look at their fantastic products.  
    </p>

 <div class="sponsors">
    
	<div class="col-xs-4 sponsorlist"><a href="https://www.evenheat-kiln.com"><img src="/assets/images/evenheat.png" width="100%"  alt="Evenheat kilns"><br>Eventheat Kilns</a>
	</div>
	
	<div class="col-xs-4 sponsorlist"><a href="https://www.tormek.com">Tormek </a>
	</div>
	
	<div class="col-xs-4 sponsorlist"><a href="https://www.combatabrasives.com">Combat Abrasives</a> 
	</div>
    
 </div>
  
    <hr/>
  </div>
</section>




