<section class="section--subscribe">
  <div class="container container--content">
    <h3 class="u-alignCenter">Thanks to our lovely sponsors ❤️</h3>
    <p>
      Scheduliing, recording and editing of this show takes a lot of time and effort, without the support of the show sponsors this podcast simply wouldn't be feasible. So show some love to our sponsors and take a look at their fantatsic products.  
    </p>
    
<div class="col-xs-4"> sponsor 1 </div>
<div class="col-xs-4"> sponsor 2 </div>
<div class="col-xs-4"> sponsor 3 </div>
    
  
    <hr/>
  </div>
</section>




